* {
    box-sizing: border-box;
}

html {
    background-color: white;
    background-repeat: no-repeat;
    color: #202020;
    line-height: 1.5;
    font-weight: 300;
    width: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "SF Hello", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    position: relative;
}

body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #666;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0 0 0.5em;
    padding: 0;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

p, ul, ol {
    font-size: 1.2rem;
    font-weight: 300;
}

.content {
    position: relative;
    margin: 6rem auto 1rem;
    padding: 1rem 2rem;
}

.swift-logo {
    position: absolute;
    width: 256px;
    height: 256px;
    top: -64px;
    right: -64px;
    z-index: -1;
    opacity: 0.25;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 4rem;
    }

	.content{
		padding:2em 4em;
		margin:0 auto
	}
}

@media screen and (min-width: 900px){
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 5rem;
    }

    .content {
        max-width:960px;
    }

	.swift-logo{
		top:-128px;
		right:-128px;
		width:512px;
		height:512px
	}
}